Web References/WebReference/EgusService_v_2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.markit.com/EGUS/" xmlns:common="http://www.markitserv.com/2012/EGUS-COMMON-2-0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:agrDetails="http://www.markitserv.com/2012/EGUS-AD-2-0" name="http://www.markit.com/EGUS/" targetNamespace="http://www.markit.com/EGUS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.markit.com/EGUS/">
      <xsd:element name="EGUSAgreementUpdatesRequest">
        <xsd:complexType>
          <xsd:sequence minOccurs="1" maxOccurs="1">
            <xsd:element minOccurs="1" maxOccurs="1" name="fromDate" type="xsd:dateTime" />
            <xsd:element minOccurs="1" maxOccurs="1" name="toDate" type="xsd:dateTime" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="EGUSAgreementUpdatesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="Agreement" type="tns:Agreement" />
          </xsd:sequence>
          <xsd:attribute name="fromDate" type="xsd:dateTime" use="required" />
          <xsd:attribute name="toDate" type="xsd:dateTime" use="required" />
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="Agreement">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="UpdateDate" type="xsd:dateTime" />
          <xsd:element minOccurs="1" maxOccurs="1" name="EffectiveDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TerminationDate" type="xsd:dateTime" />
        </xsd:sequence>
        <xsd:attribute name="AgreementId" type="xsd:int" use="required">
          <xsd:annotation>
            <xsd:appinfo>
              <xcm isId="true" />
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:complexType>
      <xsd:element name="EGUSExchangeRequest">
        <xsd:complexType>
          <xsd:choice>
            <xsd:sequence minOccurs="0" maxOccurs="1">
              <xsd:element minOccurs="1" maxOccurs="1" name="fromDate" type="xsd:dateTime" />
              <xsd:element minOccurs="1" maxOccurs="1" name="toDate" type="xsd:dateTime" />
            </xsd:sequence>
            <xsd:sequence minOccurs="0" maxOccurs="1">
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="Code" type="xsd:string" />
            </xsd:sequence>
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="EGUSExchangeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="EGUSExchange" type="tns:EGUSExchange" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="EGUSExchange">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Name" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="CreationDate" type="xsd:dateTime" />
          <xsd:element minOccurs="1" maxOccurs="1" name="UpdateDate" type="xsd:dateTime" />
        </xsd:sequence>
        <xsd:attribute name="Code" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:appinfo>
              <xcm isId="true" />
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:complexType>
      <xsd:element name="EGUSExchangeProductGroupRequest">
        <xsd:complexType>
          <xsd:choice>
            <xsd:sequence minOccurs="0" maxOccurs="1">
              <xsd:element minOccurs="1" maxOccurs="1" name="fromDate" type="xsd:dateTime" />
              <xsd:element minOccurs="1" maxOccurs="1" name="toDate" type="xsd:dateTime" />
            </xsd:sequence>
            <xsd:sequence minOccurs="0" maxOccurs="1">
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="ExchangeCode" type="xsd:string" />
            </xsd:sequence>
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="EGUSExchangeProductGroupResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="EGUSExchangeProductGroup" type="tns:EGUSExchangeProductGroup" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="EGUSExchangeProductGroup">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="ProductGroup" type="tns:ProductGroup" />
        </xsd:sequence>
        <xsd:attribute name="ExchangeCode" type="xsd:string" use="required" />
      </xsd:complexType>
      <xsd:complexType name="ProductGroup">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="ProductGroupName" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Product" type="tns:Product" />
        </xsd:sequence>
        <xsd:attribute name="ProductGroupCode" type="xsd:string" use="required" />
      </xsd:complexType>
      <xsd:complexType name="Product">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="ProductName" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="CreationDate" type="xsd:dateTime" />
          <xsd:element minOccurs="1" maxOccurs="1" name="UpdateDate" type="xsd:dateTime" />
        </xsd:sequence>
        <xsd:attribute name="ProductCode" type="xsd:string" use="required" />
        <xsd:attribute name="ProductType" type="xsd:string" use="required" />
      </xsd:complexType>
      <xsd:element name="EGUSPartyRequest">
        <xsd:complexType>
          <xsd:choice>
            <xsd:sequence minOccurs="0" maxOccurs="1">
              <xsd:element minOccurs="1" maxOccurs="1" name="fromDate" type="xsd:dateTime" />
              <xsd:element minOccurs="1" maxOccurs="1" name="toDate" type="xsd:dateTime" />
            </xsd:sequence>
            <xsd:sequence minOccurs="0" maxOccurs="1">
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="PartyCode" type="xsd:string" />
            </xsd:sequence>
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="EGUSPartyResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="EGUSParty" type="tns:EGUSParty" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="EGUSParty">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Name" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="CreationDate" type="xsd:dateTime" />
          <xsd:element minOccurs="1" maxOccurs="1" name="UpdateDate" type="xsd:dateTime" />
        </xsd:sequence>
        <xsd:attribute name="PartyCode" type="xsd:string" use="required" />
      </xsd:complexType>
      <xsd:element name="EGUSExchangeFirmRequest">
        <xsd:complexType>
          <xsd:choice>
            <xsd:sequence minOccurs="0" maxOccurs="1">
              <xsd:element minOccurs="1" maxOccurs="1" name="fromDate" type="xsd:dateTime" />
              <xsd:element minOccurs="1" maxOccurs="1" name="toDate" type="xsd:dateTime" />
            </xsd:sequence>
            <xsd:sequence minOccurs="0" maxOccurs="1">
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="PartyCode" type="xsd:string" />
            </xsd:sequence>
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="EGUSExchangeFirmResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="EGUSExchangeFirm" type="tns:EGUSExchangeFirm" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="EGUSExchangeFirm">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Firm" type="tns:Firm" />
        </xsd:sequence>
        <xsd:attribute name="PartyCode" type="xsd:string" use="required" />
      </xsd:complexType>
      <xsd:complexType name="Firm">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="FirmCode" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="CreationDate" type="xsd:dateTime" />
          <xsd:element minOccurs="1" maxOccurs="1" name="UpdateDate" type="xsd:dateTime" />
          <xsd:element minOccurs="1" maxOccurs="1" name="PrimaryFlag" type="xsd:string" />
        </xsd:sequence>
        <xsd:attribute name="ExchangeCode" type="xsd:string" use="required" />
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.markitserv.com/2012/EGUS-AD-2-0">
      <xsd:element name="EGUSAgreementDetailsRequest">
        <xsd:complexType>
          <xsd:choice>
            <xsd:sequence minOccurs="0" maxOccurs="1">
              <xsd:element minOccurs="1" maxOccurs="1" name="fromDate" type="xsd:dateTime" />
              <xsd:element minOccurs="1" maxOccurs="1" name="toDate" type="xsd:dateTime" />
            </xsd:sequence>
            <xsd:sequence minOccurs="0" maxOccurs="1">
              <xsd:element minOccurs="1" maxOccurs="1" name="agreementId" type="xsd:string" />
            </xsd:sequence>
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="EGUSAgreementDetailsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="AgreementDetails" type="agrDetails:AgreementDetailsType" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Error" type="common:ErrorType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="AgreementDetailsType">
        <xsd:all>
          <xsd:element minOccurs="1" maxOccurs="1" name="CustomerReference" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="AgreementType" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Status" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="CreationDate" type="xsd:dateTime" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ApprovalDate" type="xsd:dateTime" />
          <xsd:element minOccurs="1" maxOccurs="1" name="UpdateDate" type="xsd:dateTime" />
          <xsd:element minOccurs="1" maxOccurs="1" name="EffectiveDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TerminationDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="1" maxOccurs="1" name="BillWho" type="agrDetails:BillWhoEnum" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ProfitCenter" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Parties" type="agrDetails:PartiesType" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ClearingAccounts" type="agrDetails:ClearingAccountsType" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RateSchedules" type="agrDetails:RateSchedulesType" />
        </xsd:all>
        <xsd:attribute name="AgreementId" type="xsd:string" use="required" />
        <xsd:attribute name="GroupId" type="xsd:string" use="required" />
        <xsd:attribute name="PriorAgreementID" type="xsd:string" use="optional" />
        <xsd:attribute default="new" name="NewOrChange" type="agrDetails:NewOrChangeEnum" use="optional" />
      </xsd:complexType>
      <xsd:complexType name="PartiesType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Party">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="Name" type="xsd:string" />
                <xsd:element minOccurs="1" maxOccurs="1" name="Type" type="agrDetails:PartyTypeEnum" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ExchangeFirmCode" type="agrDetails:ExchangeFirmCodeType" />
              </xsd:sequence>
              <xsd:attribute name="Code" type="xsd:string" use="required" />
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ExchangeFirmCodeType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:string">
            <xsd:attribute name="ExchangeCode" type="xsd:string" use="required" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="RateSchedulesType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="RateSchedule" type="agrDetails:RateScheduleType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RateScheduleType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="ExecutingAccounts" type="agrDetails:ExecutingAccountsType" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Exchanges" type="agrDetails:ExchangesType" />
        </xsd:sequence>
        <xsd:attribute name="RateScheduleId" type="xsd:string" use="required" />
      </xsd:complexType>
      <xsd:complexType name="ExchangesType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Exchange" type="agrDetails:Exchange" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Exchange">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Rate" type="common:RateType" />
        </xsd:sequence>
        <xsd:attribute name="ExchangeCode" type="xsd:string" use="required" />
        <xsd:attribute name="DirectBill" type="common:YesNoEnum" use="required" />
      </xsd:complexType>
      <xsd:complexType name="ExecutingAccountsType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Account" type="agrDetails:AccountType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ClearingAccountsType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Account" type="agrDetails:AccountType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AccountType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Description" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="EffectiveDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ExpirationDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="LinkedToClearingAccount" type="xsd:string" />
        </xsd:sequence>
        <xsd:attribute name="Id" type="xsd:string" use="required" />
      </xsd:complexType>
      <xsd:simpleType name="BillWhoEnum">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Clearing Broker" />
          <xsd:enumeration value="Customer" />
          <xsd:enumeration value="Trader" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="NewOrChangeEnum">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="new" />
          <xsd:enumeration value="change" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="PartyTypeEnum">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Clearing Broker" />
          <xsd:enumeration value="Executing Broker" />
          <xsd:enumeration value="Trader" />
          <xsd:enumeration value="Customer" />
          <xsd:enumeration value="Carrying Broker" />
          <xsd:enumeration value="LME Executing Member" />
          <xsd:enumeration value="Additional Trader" />
          <xsd:enumeration value="Order Passing Broker (aka: Order Placement Agent)" />
          <xsd:enumeration value="Clearing Administrative Clearer" />
          <xsd:enumeration value="Executing Administrative Clearer" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.markitserv.com/2012/EGUS-COMMON-2-0">
      <xsd:complexType name="RateType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="ProductGroupCode" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ProductCode" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ProductType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Rank" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="TradeType" type="common:TradeTypeEnum" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Spread" type="common:SpreadEnum" />
          <xsd:element minOccurs="1" maxOccurs="1" name="RateType" type="common:RateTypeEnum" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ExecutionType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ExecutionTypeName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Amount" type="common:RateDecimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="MinAmount" type="common:MinMaxDecimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="MaxAmount" type="common:MinMaxDecimal" />
          <xsd:element minOccurs="1" maxOccurs="1" name="RateCurrency" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Tiers" type="common:TiersType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TiersType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Tier" type="common:Tier" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Tier">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Period" type="common:PeriodEnum" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ApplyTo" type="common:ApplyToEnum" />
          <xsd:element minOccurs="0" maxOccurs="1" name="StartType" type="common:StartTypeEnum" />
          <xsd:element minOccurs="0" maxOccurs="1" name="StartTypeValue" type="common:StartTypeValueDecimal" />
          <xsd:element minOccurs="1" maxOccurs="1" name="TierAmount" type="common:RateDecimal" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="TradeTypeEnum">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value=" " />
          <xsd:enumeration value="B" />
          <xsd:enumeration value="E" />
          <xsd:enumeration value="N" />
          <xsd:enumeration value="T" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="SpreadEnum">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value=" " />
          <xsd:enumeration value="S" />
          <xsd:enumeration value="6" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="RateTypeEnum">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Rate" />
          <xsd:enumeration value="Flat" />
          <xsd:enumeration value="Vol Disc" />
          <xsd:enumeration value="%Premium" />
          <xsd:enumeration value="%Notion" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="PeriodEnum">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Monthly" />
          <xsd:enumeration value="Daily" />
          <xsd:enumeration value="Trade" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="ApplyToEnum">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="ST" />
          <xsd:enumeration value="AT" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="YesNoEnum">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="yes" />
          <xsd:enumeration value="no" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="StartTypeEnum">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Amount" />
          <xsd:enumeration value="Number" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="RateDecimal">
        <xsd:restriction base="xsd:decimal">
          <xsd:fractionDigits value="5" />
          <xsd:totalDigits value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="MinMaxDecimal">
        <xsd:restriction base="xsd:decimal">
          <xsd:fractionDigits value="2" />
          <xsd:totalDigits value="8" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="StartTypeValueDecimal">
        <xsd:restriction base="xsd:decimal">
          <xsd:fractionDigits value="2" />
          <xsd:totalDigits value="9" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ErrorType">
        <xsd:sequence>
          <xsd:element name="ErrorCode" type="xsd:string" />
          <xsd:element name="ErrorString" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EGUSAgreementUpdatesRequest">
    <wsdl:part name="EGUSAgreementUpdatesRequest" element="tns:EGUSAgreementUpdatesRequest" />
  </wsdl:message>
  <wsdl:message name="EGUSAgreementUpdatesResponse">
    <wsdl:part name="EGUSAgreementUpdatesResponse" element="tns:EGUSAgreementUpdatesResponse" />
  </wsdl:message>
  <wsdl:message name="EGUSExchangeResponse">
    <wsdl:part name="EGUSExchangeResponse" element="tns:EGUSExchangeResponse" />
  </wsdl:message>
  <wsdl:message name="EGUSExchangeFirmRequest">
    <wsdl:part name="EGUSExchangeFirmRequest" element="tns:EGUSExchangeFirmRequest" />
  </wsdl:message>
  <wsdl:message name="EGUSExchangeProductGroupRequest">
    <wsdl:part name="EGUSExchangeProductGroupRequest" element="tns:EGUSExchangeProductGroupRequest" />
  </wsdl:message>
  <wsdl:message name="EGUSExchangeProductGroupResponse">
    <wsdl:part name="EGUSExchangeProductGroupResponse" element="tns:EGUSExchangeProductGroupResponse" />
  </wsdl:message>
  <wsdl:message name="EGUSPartyRequest">
    <wsdl:part name="EGUSPartyRequest" element="tns:EGUSPartyRequest" />
  </wsdl:message>
  <wsdl:message name="EGUSPartyResponse">
    <wsdl:part name="EGUSPartyResponse" element="tns:EGUSPartyResponse" />
  </wsdl:message>
  <wsdl:message name="EGUSExchangeRequest">
    <wsdl:part name="EGUSExchangeRequest" element="tns:EGUSExchangeRequest" />
  </wsdl:message>
  <wsdl:message name="EGUSExchangeFirmResponse">
    <wsdl:part name="EGUSExchangeFirmResponse" element="tns:EGUSExchangeFirmResponse" />
  </wsdl:message>
  <wsdl:message name="EGUSAgreementDetailsRequest">
    <wsdl:part name="EGUSAgreementDetailsRequest" element="agrDetails:EGUSAgreementDetailsRequest" />
  </wsdl:message>
  <wsdl:message name="EGUSAgreementDetailsResponse">
    <wsdl:part name="EGUSAgreementDetailsResponse" element="agrDetails:EGUSAgreementDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="EGUSReference">
    <wsdl:operation name="EGUSAgreementUpdates">
      <wsdl:input message="tns:EGUSAgreementUpdatesRequest" />
      <wsdl:output message="tns:EGUSAgreementUpdatesResponse" />
    </wsdl:operation>
    <wsdl:operation name="EGUSExchange">
      <wsdl:input message="tns:EGUSExchangeRequest" />
      <wsdl:output message="tns:EGUSExchangeResponse" />
    </wsdl:operation>
    <wsdl:operation name="EGUSExchangeProductGroup">
      <wsdl:input message="tns:EGUSExchangeProductGroupRequest" />
      <wsdl:output message="tns:EGUSExchangeProductGroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="EGUSParty">
      <wsdl:input message="tns:EGUSPartyRequest" />
      <wsdl:output message="tns:EGUSPartyResponse" />
    </wsdl:operation>
    <wsdl:operation name="EGUSExchangeFirm">
      <wsdl:input message="tns:EGUSExchangeFirmRequest" />
      <wsdl:output message="tns:EGUSExchangeFirmResponse" />
    </wsdl:operation>
    <wsdl:operation name="EGUSAgreementDetails">
      <wsdl:input message="tns:EGUSAgreementDetailsRequest" />
      <wsdl:output message="tns:EGUSAgreementDetailsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EGUSReferenceSOAP" type="tns:EGUSReference">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EGUSParty">
      <soap:operation soapAction="http://www.markit.com/EGUS/EGUSParty" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EGUSExchange">
      <soap:operation soapAction="http://www.markit.com/EGUS/EGUSExchange" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EGUSExchangeFirm">
      <soap:operation soapAction="http://www.markit.com/EGUS/EGUSExchangeFirm" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EGUSExchangeProductGroup">
      <soap:operation soapAction="http://www.markit.com/EGUS/EGUSExchangeProductGroup" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EGUSAgreementUpdates">
      <soap:operation soapAction="http://www.markit.com/EGUS/EGUSAgreementUpdates" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EGUSAgreementDetails">
      <soap:operation soapAction="http://www.markitserv.com/2012/EGUS-AD-2-0" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EGUSReference">
    <wsdl:port name="EGUSReferenceSOAP" binding="tns:EGUSReferenceSOAP">
      <soap:address location="https://fiaegus.uat.markit.com/soap/services/EGUSMessageService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>